.margin{
  margin-left: 20rem;
  margin-right: 20rem;
}

.padding{
  padding: 1rem;
}

.bolded{
  font-weight: bold;
}

.center{
  display: flex;
  justify-content: center
}

.btn-margin{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.column{
  display:flex;
  justify-content: space-between;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}